<nav>
    <div class="nav-wrapper blue light-4">
        <a href="/" class="brand-logo"><i class="material-icons">schedule</i>Jerwell Gabilagon</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Contact</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="">Contact</a></li>
</ul>